.FormContent{
    margin-top: 30px;
    z-index: 11;
    .active{
        padding: 10px;
        box-shadow: 0px 0px 10px #888888;
        transform: scale(1.08);
    }
    .Hide{
        display: none;
    }
    .Form-Header-Col{
        padding: 30px;
        .Form-Group{
            padding-top: 12%;
            margin-bottom: 0;
            .Form-Label{
                font-weight: 600;
                font-size: 18px;
                margin: 0;
                display: block;
            }
            .Form-Control{
                padding: 0;
                border: none;
                border-radius: none;
                box-shadow: none;
                border-bottom: 1px solid rgb(175, 175, 175);
                border-radius: 0;
            }
            .Date{
                padding: 0;
                width: auto;
                display: inline-block;
                border: 0;
                margin-right: 10px;
                border-bottom: 1px solid rgb(192, 192, 192);
            }
            .Gender-Label{
                margin-bottom: 5px;
            }
            .Radio-Name{
                font-size: 15px;
            }
            .Custom-Radio {
                display: block;
                position: relative;
                padding-left: 20px;
                margin-bottom: 6px;
                cursor: pointer;
                font-size: 15px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                }

                .checkmark:after {
                  top: 9px;
                  left: 9px;
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  background: #4097E8;
                }

                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                }

                &:hover input ~ .checkmark {
                  background-color: #ccc;
                }

                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                }

                input:checked ~ .checkmark {
                  background-color: #4097E8;
                }

                input:checked ~ .checkmark:after {
                  display: block;
                }
                .checkmark {
                    position: absolute;
                    top: 3px;
                    left: 0;
                    height: 15px;
                    width: 15px;
                    background-color: #eee;
                    border-radius: 50%;
                }
            }
        }
        .First-Error{
            color: red;
        }
        .Last-Error{
            color: red;
        }
        .Class-Error{
            color: red;
        }
        .Number-Error{
            color: red;
        }
        .Mail-Error{
            color: red;
        }
        .Region-Error{
            color: red;
        }
        .Street-Error{
            color: red;
        }
        .Link-Error{
            color: red;
        }
        .Date-Class-Error{
            color: red;
        }
        .Gender-Class-Error{
            color: red;
        }
        .Program-Class-Error{
            color: red;
        }
        .Form-Button{
            color: white;
            float: right;
            padding: 3px 20px;
            margin-top: 20px;
            font-size: 13px;
            margin-right: 10px;
            box-shadow: none;
            border-color: none;
            border: none;
            background-image: linear-gradient(to bottom,#10E5F1 0,#52B2F5 100%);
            text-shadow: none;
            border-radius: 25px;
            margin-bottom: 20px;
            &:hover{
                background-color: rgb(28, 146, 230);
                background-position: 0 -30px;
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 481px) and (max-width: 768px) {
    .FormContent{
        .non-active{
            display: none;
        }
        .active{
            display: block !important;
            width: 90%;
            margin-left: 5%;
            padding-bottom: 50px;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .FormContent{
        .non-active{
            display: none;
        }
        .active{
            display: block !important;
            padding-bottom: 50px;
        }
    }
}